venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!reader-frontend/src/lib/
!reader-frontend/src/lib/**
lib64/
parts/
sbin/
var/
sdist/
.wheel/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.tox/
.nosearchconf
.vscode/
*.wav
*.mp3
*.sqlite3
*.db
